html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 95%;
    width: 95%
}

.hr-header {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 50px;
    background: mintcream;
    border: 1px solid grey;
    border-radius: 10px
}

.hr-nav {
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 85px;
    left: 10px;
    width: 180px;
    height: 100%;
    background: ghostwhite;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#wrapper {
    padding-top: 85px;
    padding-left: 250px;
}

.group-table {
    padding: 10px 10px 10px 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.table-line {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}



.group-headlines {
    color: black;
    background-color: mintcream;
    padding: 5px 5px 5px 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}


